*{
    box-sizing: border-box;
}

body {
    background-color: #121212;
}

.clock {
    position: fixed;
    left: 100vw;
    border: none;
}

@keyframes animateClock {
    from {
        left: 100vw;
    }
    to {
        left: -50vw;
    }
}

.hand {
    position: absolute;
}
/* 
.hand.hour {
}
.hand.minute {
}
.hand.second {
}

.centerpoint {
    position: absolute;
    background-color: red;
    width: 2px;
    height: 2px;
    z-index: 100;
} */
