*{
    box-sizing: border-box;
}

.clock {
    position: fixed;
    left: 100vw;
    /* remove this */
    /* animation: animateClock 7s linear 1; */
    border: none;
}

@keyframes animateClock {
    from {
        left: 100vw;
    }
    to {
        left: -50vw;
    }
}

.hand {
    position: absolute;
}
.hand.hour {
}

.centerpoint {
    position: absolute;
    background-color: red;
    width: 2px;
    height: 2px;
    z-index: 100;
}