.clock {
    position: fixed;
    left: 100vw;
    animation: animateClock 7s linear 1;
    border: 1px solid black;
}

@keyframes animateClock {
    from {
        left: 100vw;
    }
    to {
        left: 0vw;
    }
}